{% extends "base.html" %}
{%- block title -%}{{entry.title}} |{%- endblock %}
{%- block post -%}
	<div class="post">
		<p class="date">{{ entry.pretty_date }}</p>
    	<h2>
            {% if "http" in entry.link %}
                <a href="{{ entry.link }}" rel="bookmark" title="Eksternt Link">{{ entry.title }}</a>
            {% else %}
                {{ entry.title }}
            {% endif %}
        </h2>
       	{{ entry.content }}
    </div>
	<div class="navleft">
		<a rel="prev prefetch" href="/archive.html">&lsaquo;&nbsp; Til arkivet</a>
	</div>
{%- endblock %}
